# Data Manipulation

numpy==1.20.0
pandas==1.2.1

# Audio Analysis

librosa==0.8.0

# Machine Learning Library

scikit-learn==0.24.1

# FAST API and HTML rendering

fastapi==0.65.2
uvicorn[standard]==0.13.3
aiofiles==0.6.0
jinja2==2.11.3
